/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: auto;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 30px 0;
}
header nav {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 515px) {
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
header a {
  font-size: 12px;
  padding-right: 20px;
  color: gray;
}
@media (max-width: 515px) {
  header a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 19.5px;
    background: white;
    font-size: 30px;
    border: 2px solid grey;
    margin-left: 0;
    color: gray;
  }
}
@media (max-width: 515px) {
  body .img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
body img {
  height: 200px;
  display: flex;
}
@media (max-width: 515px) {
  body img {
    height: 300px;
  }
}
body .top {
  background-color: #dfe0e0;
  width: 100%;
  height: auto;
  padding: 40px 30px;
}
body .top h1 {
  padding-top: 5px;
  font-size: 40px;
}
body .first-line {
  padding: 10px 0;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #9c9c9c;
}
@media (max-width: 515px) {
  body .first-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 20px;
  }
}
body .second-line {
  font-size: 16x;
  margin-bottom: 20px;
  font-size: 13px;
}
@media (max-width: 515px) {
  body .second-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 20px;
  }
}
body button {
  color: white;
  background: grey;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  font-weight: bold;
}
@media (max-width: 515px) {
  body button {
    font-size: 30px;
    padding: 12px 20px;
    border-radius: 20px;
  }
}
.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 515px) {
  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.middle .boxes {
  padding: 30px 0;
  width: 49%;
}
@media (max-width: 515px) {
  .middle .boxes {
    width: 100%;
  }
}
.middle .boxes h2 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}
.middle .boxes h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.middle .boxes li {
  font-size: 13px;
  padding: 10px;
  border: 1px solid lightgrey;
}
@media (max-width: 515px) {
  .middle .boxes li {
    font-size: 20px;
  }
}
.middle .boxes p {
  font-size: 13px;
}
@media (max-width: 515px) {
  .middle .boxes p {
    font-size: 20px;
  }
}
.bottom h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.bottom table {
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.bottom table tr {
  border-top: 1px solid lightgrey;
}
.bottom table tr th {
  padding: 2px 0;
}
footer {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background: grey;
  padding: 20px;
  font-size: 13px;
  color: white;
}
@media (max-width: 515px) {
  footer {
    font-size: 17px;
    flex-direction: column-reverse;
  }
  footer p {
    padding-bottom: 10px;
  }
}
