// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

// escaping
@mobile: (max-width: 515px);
@mobilefont: 20px;
* {
  box-sizing: border-box;
}

html,
body {
  height: auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 30px 0;
}

header {
  nav {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
    @media @mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
  a {
    font-size: 12px;
    padding-right: 20px;
    color: gray;
    @media @mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
      padding: 19.5px;
      background: white;
      font-size: 30px;
      border: 2px solid grey;
      margin-left: 0;
      color: gray;
    }
  }
}
body {
  .img {
    @media @mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  img {
    height: 200px;
    display: flex;
    @media @mobile {
      height: 300px;
    }
  }
  .top {
    background-color: rgb(223, 224, 224);
    width: 100%;
    height: auto;
    padding: 40px 30px;

    h1 {
      padding-top: 5px;
      font-size: 40px;
    }
  }
  .first-line {
    padding: 10px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgb(156, 156, 156);
    @media @mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      font-size: 20px;
    }
  }
  .second-line {
    font-size: 16x;
    margin-bottom: 20px;
    font-size: 13px;
    @media @mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      font-size: 20px;
    }
  }
  button {
    color: white;
    background: grey;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    font-weight: bold;
    @media @mobile {
      font-size: 30px;
      padding: 12px 20px;
      border-radius: 20px;
    }
  }
}
.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media @mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .boxes {
    padding: 30px 0;
    width: 49%;
    @media @mobile {
      width: 100%;
    }

    h2 {
      font-size: 30px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    h3 {
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    li {
      font-size: 13px;
      padding: 10px;
      border: 1px solid lightgrey;
      @media @mobile {
        font-size: @mobilefont;
      }
    }
    p {
      font-size: 13px;
      @media @mobile {
        font-size: @mobilefont;
      }
    }
  }
}

.bottom {
  h3 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  table {
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    tr {
      border-top: 1px solid lightgrey;
      th {
        padding: 2px 0;
      }
    }
  }
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background: grey;
  padding: 20px;
  font-size: 13px;
  color: white;
  @media @mobile {
    font-size: 17px;
    flex-direction: column-reverse;
    p {
      padding-bottom: 10px;
    }
  }
}
